<div id="about_title">About</div>

<div id="about">
  <p>"Fouse" is a portmanteau of the words "fantasy" and "house" — a new word formulated to define a new standard of living. In the modern day ...
</div>
